<button class = "open-add-Coffee-Modal"(click)="openModal()">Add Coffee</button>
<input type="date" [(ngModel)]="searchDate" name="searchDate">
<button (click)="searchData()">Search</button>

<div class="modal" [class.is-active]="isModalOpen">
  <div class="modal-background"></div>
  <div class="modal-content">
    <form [formGroup]="coffeeForm" (ngSubmit)="addCoffee(coffeeForm.value)">
      <div>
        Date:
        <input type="date" formControlName="dateConsumed">
      </div>
      <div>
        Cups:
        <input type="number" formControlName="cups">
      </div>
      <div>
        Notes:
        <input type="text" formControlName="notes">
      </div>
      <div>
        <button type="submit">Add</button>
        <button type="button" class="modal-close is-large" aria-label="close" (click)="closeModal()">Close</button>
      </div>
    </form>
  </div>
</div>

<table class = "Coffee-details-table">
  <tr>
    <th>ID</th>
    <th>Date Consumed</th>
    <th>Cups</th>
    <th>Notes</th>
  </tr>
  <tr *ngFor="let item of data">
    <td>{{item.id}}</td>
    <td>{{item.dateConsumed | date:'MM/dd/yyyy'}}</td>
    <td>{{item.cups}}</td>
    <td>{{item.notes}}</td>
    <td>
      <button (click)="deleteData(item.id)">Delete</button>
      <button (click)="editData(item.id, item)">Edit</button>
    </td>
  </tr>
</table>
