<button class = "open-add-Coffee-Modal"(click)="openModal()">Add Coffee</button>

<div class="modal" [class.is-active]="isModalOpen">
  <div class="modal-background"></div>
  <div class="modal-content">
    <form [formGroup]="coffeeForm" (ngSubmit)="addCoffee(coffeeForm.value)">
      Date:
      <input type="date" formControlName="dateConsumed">
      Cups:
      <input type="number" formControlName="cups">
      Notes:
      <input type="text" formControlName="notes">
      <button type="submit">Add</button>
    </form>
  </div>
  <button class="modal-close is-large" aria-label="close" (click)="closeModal()">Close</button>
</div>

<table class = "Coffee-details-table">
  <tr>
    <th>ID</th>
    <th>Date Consumed</th>
    <th>Cups</th>
    <th>Notes</th>
    <!-- Add more columns as needed -->
  </tr>
  <tr *ngFor="let item of data">
    <td>{{item.id}}</td>
    <td>{{item.dateConsumed | date:'MM/dd/yyyy'}}</td>
    <td>{{item.cups}}</td>
    <td>{{item.notes}}</td>
    <td>
      <button (click)="deleteData(item.id)">Delete</button>
    </td>
  </tr>
</table>
